---
const projects = {
  Copyrightify: {
    name: 'Copyrightify',
    img: '/assets/copyrightify.jpg',
    description: 'Reproductor de música de escritorio desarrollado en React, con una playlist sin copyright. Pensado para creadores de contenidos online. Youtube, Facebook, Twitch, etc.',
    website: 'https://copyrightify.netlify.app',
    github: 'https://github.com/felipetodev/no-copyrightfy'
  },
  Forever: {
    name: 'Forever-Chile',
    img: '/assets/forever.jpg',
    description: 'Trabajo para agencia Chilena de dirección de arte, films, y otros... manejo de contenido a través de Contentful, revalidación de contenido on demand con Next.js',
    website: 'https://www.forever-chile.com/',
    github: 'https://github.com/felipetodev/forever-chile'
  },
  Bloom: {
    name: 'Bloom Bar',
    img: '/assets/bloom.png',
    description: 'Trabajo para primer bar nikkei de Chile, carta responsive, manejo de contenido a través de Contentful, revalidación de contenido on demand con Next.js, tailwindcss',
    website: 'https://www.bloombar.cl',
    github: 'https://github.com/felipetodev/bloom-bar'
  },
  Colabot: {
    name: 'ColaBOT AI 🤖',
    img: '/assets/colabot.gif',
    description: 'ColaBOT es un asistente de IA para Visual Studio Code que te ayuda a acelerar tu productividad a la hora de desarrollar. Te permite hacer preguntas sobre tu codigo, generar code snippets, test, y mucho más. ColaBOT cuenta con +1.200 descargas (⭐)',
    website: 'https://marketplace.visualstudio.com/items?itemName=ColaBOT.colabot-vscode',
    github: 'https://github.com/felipetodev/colabot'
  }
}
---
<style lang='scss'>
  section {
    position: relative;
    text-align: center;
    padding-bottom: 2rem;

    .container {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 90%;
      max-width: 1180px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: auto;
      margin-right: auto;
      // background: var(--light);
  
      h1 {
        max-width: 800px;
        margin: 0 auto;
        padding: 1.65em 0;
      }

      .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
        padding-bottom: 1.65em;
        pointer-events: none;

        .card {
          display: block;
          background: #eaeef2;
          transition: all 300ms ease;
          box-shadow: 0 0 30px rgba(255, 44, 220, 0.1);
          pointer-events: auto;

          .img-container {
            position: relative;
            img {
              object-fit: cover;
              width: 100%;
              display: block;
              height: auto;
              border: none;
              height: 300px;
            }
          
            .stack-info {
              a {
                position: absolute;
                opacity: 0;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all 200ms ease-in;
              }
              .is-mobile {
                display: none;
              }
            }
          }
          .stack-description {
            text-align: start;
            padding: 2rem;
          }
        }
      }
    }
  }

  @media(min-width: 960px) {
    section .container {
      .card-container {
        grid-template-columns: repeat(2, 1fr);
        &:hover>:not(:hover) {
          opacity: 0.3;
        }
  
        .card {
          &:hover {
            transform: scale(1.05);
          }
          .img-container {
            .stack-info {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 100%;
              height: auto;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
              transition: all 150ms ease-in;
  
              &:hover {
                opacity: 1;
              }
    
              a {
                position: relative;
                opacity: 1;
                font-weight: bold;
                color: var(--light-blue);
                font-size: 1rem;
                background: rgba(255, 255, 255, 0.836);
                text-decoration: none;
                padding: 1rem;
                &:hover {
                  box-shadow: inset 0 3px 0 var(--light-blue);
                }
              }
              
              .is-mobile {
                display: block;
              }
            }
          }
        }
      }
    }
  }
</style>
<section>
  <div class='container'>
    <div class='title'>
      <h2 class='gradient'>Proyectos Recientes</h2>
    </div>
    <div class='card-container'>
      {Object.values(projects).map(el => (
        <div class='card'>
          <div class='img-container'>
            <img src={el.img} alt={el.name}>
            <div class='stack-info'>
              <a href={el.website} target='_blank' rel='noopener'>
                Website
              </a>
              <a class='is-mobile' href={el.github} target='_blank' rel='noopener'>
                GitHub
              </a>
            </div>
          </div>
          <div class='stack-description'>
            <h2>
              {el.name}
            </h2>
            <p>
              {el.description}
            </p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>